<div class="container-fluid">
  <div class="row">
    <div>
      <h1 class="fw-bold">Welcome {{ user.name }}</h1>
      <br />
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-md-4 col-12 col-xl-5">
      <br>
      <div class="card bg-c-blue order-card">
        <br>
        <div class="card-block">
          <h4 class="m-b-20 fw-bold text-black">Amount</h4>
          <h2 class="text-right"><img src="assets/images/rupee.png" class="f-left" height="50" width="50" alt="">
            <span class="fw-bold">{{user.availableBalance}}</span>
          </h2>
          <p class="m-b-2 pt-3 fw-bold text-black fs-5">Available Balance</p>

        </div>
      </div>
    </div>

    <div class="col-md-4 col-12 col-xl-5">
      <br>
      <div class="card bg-c-green order-card">
        <br>
        <div class="card-block">
          <h4 class="m-b-20 fw-bold text-black">Transactions</h4>
          <h2 class="text-right"> <img src="assets/images/credit.png" class="f-left" height="70" width="70" alt="">
            <span class="fw-bold">{{len}}</span>
          </h2>
          <p class="m-b-2 pt-3 fw-bold text-black fs-5">Total No of Transactions</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-12 col-xl-5">
      <br>
      <div class="card bg-c-yellow order-card">
        <br>
        <div class="card-block">
          <h4 class="m-b-20 fw-bold text-black">Spendings</h4>
          <h2 class="text-right"><img src="assets/images/trans.webp" class="f-left" height="70" width="70"
              alt=""><span class="fw-bold">{{spendingstotal}}</span></h2>
          <p class="m-b-2 pt-3 fw-bold text-black fs-5">Total Spendings</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-xl-5">
      <br>
      <div class="card bg-c-pink order-card">
        <br>
        <div class="card-block">
          <h4 class="m-b-20 fw-bold text-black">Rewards</h4>
          <h2 class="text-right"><img src="assets/images/rewards.png" class="f-left" height="70" width="70"
              alt=""><span class="fw-bold">8</span></h2>
          <p class="m-b-2 pt-3 fw-bold text-black fs-5">Reward Points</p>
        </div>
      </div>
    </div>
  </div>


  <!-- <div class="row">
      
        <div class="col-md-3">
          <div class="card tr1">
            <div calss="card-header ">
              <h1 class="p-2 text-white">
                Jan &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa-solid fa-dollar-sign fa-flip"></i>
                <h5 class="p-2 text-white">
                 Total Spending {{janamount|currency:'INR'}}
                </h5>
              </h1>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card tr1">
            <div calss="card-header ">
              <h1 class="p-2 text-white">
                Feb &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa-solid fa-dollar-sign fa-flip"></i>
                <h5 class="p-2 text-white">
                  TotalSpendings {{febamount|currency:'INR'}}
                </h5>
              </h1>
            </div>
          </div>
        </div>
        <div class="col-md-3 mt-5">
          <a  routerLink="/navbar/expencetracking">View More</a>
        </div>
      </div> -->


</div>



<br />
<br />