@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css);

.tri {
  background-color: rgb(25, 43, 59);
  height: 40px;
  width: 120px;
}

.tri1 {
  background-color: rgb(25, 43, 59);
  height: 40px;
  width: 800px;

}

.field {
  position: relative;
  display: inline-block;

}

.image {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
}

.input {
  background-color: rgb(29, 29, 58);
  border: none;
  padding: 5px 20px;
  padding-right: 600px;
  /* text and image don't overlap */
  font-size: 20px;
}

.tri3 {
  color: rgb(29, 29, 58);
}

.bg1 {
  background-color: #4169E1;
}

.bg {
  background-color: #191970;
}

.bg2 {
  color: #191970;
}

div.two {
  border-style: solid;
  border-color: rgb(83, 61, 155);
  height: 250px;
  width: 800px;
}

.icons {
  font-size: 15px;
  list-style-type: none;
}

.img {
  height: 150px;
  width: 260px;
}

.tr {
  background-color: rgb(44, 44, 85);
  height: 50px;
  width: 170px;
}

.tr1 {
  height: 150px;
  width: 260px;
  background-color: rgb(29, 29, 58);
}

#container {
  height: 400px;


}

.highcharts-figure,
.highcharts-data-table table {
  min-width: 320px;
  max-width: 1100px;
  margin: 1em auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

html {
  height: 100%;
}

body {

  background-color: #2590EB;
  height: 100%;
}

.wrapper {

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;


  .file-upload {

    height: 150px;
    width: 150px;
    border-radius: 100px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 4px solid #FFFFFF;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #5448d7 50%, #FFFFFF 50%);
    background-size: 100% 200%;
    transition: all 1s;
    color: #FFFFFF;
    font-size: 100px;

    input[type='file'] {

      height: 200px;
      width: 200px;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      cursor: pointer;

    }

    &:hover {

      background-position: 0 -100%;

      color: #2590EB;

    }


  }
}


* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.cardscontainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

a {
  text-decoration: none;

}

.containerd {
  position: relative;
  background-image: url("/assets/images/bg.png");
  background-size: cover;
  padding: 25px;
  border-radius: 28px;
  max-width: 450px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

header,
.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 48px;
  margin-right: 10px;
}

h5 {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

header .chip {
  width: 60px;
}

h6 {
  color: #fff;
  font-size: 10px;
  font-weight: 400;
}

h5.number {
  margin-top: 4px;
  font-size: 18px;
  letter-spacing: 1px;
}

h5.name {
  margin-top: 20px;
}

.containerd .card-details {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media only screen and (min-width:800px) {
  .mya {
    margin-left: 950px;
    margin-top: -150px;
  }
}

@media only screen and (max-width:790px) {
  .mya {
    display: none;
  }
}

.order-card {
  color: #fff;
}

.bg-c-blue {
  background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
  background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
  background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
  background: linear-gradient(45deg,#FF5370,#ff869a);
}


.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card .card-block {
  padding: 25px;
}

.order-card i {
  font-size: 26px;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}