/* From Uiverse.io by sameer2malik */ 
.container-fluid {
    display: flex;
    width: 1300px;
    height: 700px;
    max-width: 99%;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
    background-color: #f3efef;
    border-radius: 15px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.03);
    border: 0.1px solid rgba(128, 128, 128, 0.178);
    margin-left: -10px;
    margin-top:-30px;
  }
  
  .left {
    width: 66%;
    height: 100%;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 70%;
    left: 0;
    backdrop-filter: blur(20px);
    position: relative;
  }
  
  .form::before {
    position: absolute;
    content: "";
    width: 40%;
    height: 40%;
    right: 1%;
    z-index: -1;
    border-radius: 50%;
  }
  
  .right {
    width: 34%;
    height: 100%;
  }
  
  .img {
    width: 100%;
    height: 100%;
  }
 
  .container-fluid::after {
    position: absolute;
    content: "";
    width: 80%;
    height: 80%;
    right: -40%;
    background: rgb(157, 173, 203);
    background: radial-gradient(
      circle,
      rgba(157, 173, 203, 1) 61%,
      rgba(99, 122, 159, 1) 100%
    );
    border-radius: 50%;
    z-index: -1;
  }
  
  .input,
  button {
    background: rgba(253, 253, 253, 0);
    outline: none;
    border: 2px solid rgba(35, 34, 34, 0);
    border-radius: 0.5rem;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    display: block;
    color: #425981;
    font-weight: 500;
    font-size: 1.1em;
  }
  
  .input-block {
    position: relative;
  }
  
  label {
    position: absolute;
    left: 15%;
    top: 37%;
    pointer-events: none;
    color: gray;
  }
  
  .forgot {
    display: block;
    margin: 5px 0 10px 0;
    margin-left: 35px;
    color: #5e7eb6;
    font-size: 0.9em;
  }
  
  .input:focus + label,
  .input:valid + label {
    transform: translateY(-120%) scale(0.9);
    transition: all 0.4s;
  }
  
  button {
    background-color: #5e7eb6;
    color: white;
    font-size: medium;
    box-shadow: 2px 4px 8px rgba(70, 70, 70, 0.178);
  }
  
  a {
    color: #5e7eb6;
  }
  
  .input {
    box-shadow: inset 4px 4px 4px rgba(165, 163, 163, 0.315),
      4px 4px 4px rgba(218, 218, 218, 0.13);
  }
  